<h1>Listagem</h1>

<p>
  <mat-icon [matBadge]="usuarios.length" matBadgeColor="primary">group</mat-icon>
</p>

<div fxLayout="row wrap" fxLayout.lt-md="column">
  <mat-card fxFlex="20" *ngFor="let usuario of usuarios" class="card-usuario">
    <mat-card-header>
      <mat-icon>person</mat-icon>
      <mat-card-title>
        {{usuario.nome | titlecase}}
      </mat-card-title>
      <mat-card-subtitle>
        {{usuario.cpf | cpf}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Idade: {{usuario.idade}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="removerUsuario(usuario)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="['/editausuario', usuario.id]">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
